{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <input type="hidden" name="type" value="symbol">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="search" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <br>
    <form action="/quote" method="post">
        <input type="hidden" name="type" value="name">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="search" placeholder="Company Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    {% if result %}
        <br>
        <p>A share of {{ result.name }} ({{ result.symbol }}) costs {{ result.pricetxt }}{{ result.price | usd }}</p>
    {% endif %}
    {% if not_found %}
        <br>
        <p>Stock ({{ search }}) not found</p>
    {% endif %}

{% endblock %}
