{% extends "layout.html" %}

{% block title %}
    Recovery
{% endblock %}

{% block main %}
    <form action="/recovery" method="post">
        <input type="hidden" name="action" value="{{action}}">

        {% if pairs %}

            <input type="hidden" name="id" value="{{id}}">

            {% for elem in pairs %}
                <div class="mb-3">
                    <div class="mb-3">
                        <p>{{elem["question"]}}</p>
                    </div>

                    <div class="mb-3">
                        <input required class="form-control mx-auto w-auto" name="answer{{pairs.index(elem)+1}}" placeholder="Answer" type="text">
                    </div>
                </div>
            {% endfor %}

        {% else %}

            {% if id %}

                <input type="hidden" name="id" value="{{id}}">

                <div class="mb-3">
                    <input required class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" type="password">
                </div>

                <div class="mb-3">
                    <input required class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirmation" type="password">
                </div>

            {% else %}

                <div class="mb-3">
                    <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>

            {%endif%}

        {%endif%}

        <button class="btn btn-primary" type="submit">{{action}}</button>
    </form>
{% endblock %}
