{% extends "layout.html" %}

{% block title %}
    Security
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h3>Change Password</h3>
    </div>

    <form action="/security" method="post">
        <input type="hidden" name="action" value="password">

        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>

        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" type="password">
        </div>

        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirmation" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
    
    <br>

    <div class="mb-3">
        <h3>Delete account</h3>
    </div>

    <form action="/security" method="post">
        <input type="hidden" name="action" value="delete">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="account" name="account" placeholder="Fund transfer Account" type="text" value="{{_account}}">
        </div>

        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" value="{{_password}}">
        </div>

        <button class="btn btn-primary" type="submit">Delete</button>
    </form>

{% endblock %}
